<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="CoffeeShopSystemEntities"
       connectionString="metadata=res://*/Utilities.CoffeeShopSystemModel.csdl|res://*/Utilities.CoffeeShopSystemModel.ssdl|res://*/Utilities.CoffeeShopSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HyggeSystemDB.mssql.somee.com;initial catalog=HyggeSystemDB;user id=truongtran2206_SQLLogin_1;password=YOUR_SOMEE_PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
</connectionStrings>
